*{
    box-sizing: border-box;
}

.highlight{
    border: 2px dotted red;
}

body{
    font-family: 'Karla', sans-serif;
    color: whitesmoke;
    background: #fafafa;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 50%;
    margin: 0 auto;
    transition: 0.2s linear;
}

#top-div{
    background: #6943FF;
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#results{
    background: #fafafa;
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    transition: 0.2s linear;
}

#title{
    margin: 0;
    font-weight: 700;
}

#input-el{
    margin: 30px 0;
    max-width: 330px;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    background: #6943FF;
    font-size: 100px;
    text-align: center;
    color: whitesmoke;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

#input-el:focus{
    outline: none;
}

.result-div{
    padding: 25px 50px;
    width: 80%;
    background: #fafafa;
    color: #1d2e44;
    transition: 0.2s linear;
}

#converter-btn{
    color: whitesmoke;
    font-size: 30px;
    background: #1d2e44;
    width: 180px;
    height: 90px;
    border: none;
    border-radius: 10px;
}

@media screen and (max-width: 600px){
    body{
        margin: 0 auto;
        width: 100%;
    }

    #input-el{
        max-width: 150px;
        height: 80px;
        font-size: 60px;
    }

    #converter-btn{
        font-size: 25px;
        width: 150px;
        height: 70px;
    }

    .result-div{
        padding: 25px 10px;
    }
}

/* botao toggle dark mode */



body.dark{
    background: #1F2937;
}

#results.dark{
    background: #1d2e44;
}

.result-div.dark{
    color: whitesmoke;
    background: #273549;
}

.fa-sun{
    color: #ff9c08;
}

.fa-moon{
    color: #f5ff67;
}

#checkBoxDarkMode{
    position: absolute;
    opacity: 0;
}

#label{
    background: #1F2937;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 50px;
    height: 26px;
    position: relative;
    transform: scale(1.5);
    margin: 15px 0;
}

#ballSelector{
    position: absolute;
    background: #fafafa;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    left: 2px;
    top: 2px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

#checkBoxDarkMode:checked + #label #ballSelector{
    transform: translateX(24px);
}